body {
  font-size: 20px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contain {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin-bottom: 0px;
  border: 2px solid #000;
  box-shadow: none;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contain.error {
  border-color: red;
}

.contain>.description {
  padding: 20px;
  display: flex;
  width: 100%;
  margin: 0px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.description>div>h2 {
  max-width: 40vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contain>.description>img {
  width: 60px;
  height: 60px;
}

.contain>.description>.title {
  flex: 1;
  margin: 0px 0px 0px 35px;
}

.contain .action {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.disabled h2,
.disabled span {
  color: #363636;
}

.contain.disabled .action {
  background-color: #535353;
}

.contain.error .action {
  background-color: red;
}

.redirecting {
  opacity: 0;
}
